body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    padding-top: 50px;
}

h1 {
    color: #ff9800; /* make greeting stand out */
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #ff9800;
    color: white;
}

button:hover {
    background-color: #e68a00;
}
